<section class="container">
	<p class="legend">List of results for the keyword "potato"</p>
</section>

<section id="listImages" class="container">

</section>

<script type="text/javascript">
	setTimeout(function(){
		gapi.plusone.go("listImages");	
	}, 500);
</script>