<section class="container">
	<!-- change this link depending on where you host the app. As I have it on my domain name, I had to slightly tweak it -->
	<a href="/web/potato/#/" title="Back to homepage" class="back-btn">
		<svg xmlns="http://www.w3.org/2000/svg" width="44.238" height="44.238" viewBox="0 0 44.238 44.238"><path d="M22.12 44.237C9.92 44.237 0 34.315 0 22.12S9.922 0 22.12 0s22.118 9.923 22.118 22.12-9.924 22.117-22.12 22.117zm0-42.736C10.75 1.5 1.5 10.75 1.5 22.12c0 11.367 9.25 20.617 20.62 20.617s20.618-9.25 20.618-20.618c0-11.37-9.25-20.62-20.62-20.62z"/><path d="M24.667 29.884c-.192 0-.384-.072-.53-.22L16.81 22.33c-.293-.293-.293-.768 0-1.06l7.327-7.334c.293-.293.768-.293 1.06 0s.294.768 0 1.06L18.4 21.8l6.798 6.805c.292.293.292.77 0 1.06-.147.147-.34.22-.53.22z"/></svg>
		Back to results
	</a>
</section>

<section id="singleImage" class="container">

</section>

<script type="text/javascript">
	setTimeout(function(){
		gapi.plusone.go("singleImage");	
	}, 500);
</script>