/* ------------------
GUI styles 
Author: Dan Dvoracek
*********************
------------------- */

/*-- Body & header --*/
html, body
{
	min-height: 100%;
	min-width: 320px;
}

body {
	background-color: $white;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,234,226,1) 54%, rgba(239,234,226,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(54%, rgba(239,234,226,1)), color-stop(100%, rgba(239,234,226,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,234,226,1) 54%, rgba(239,234,226,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,234,226,1) 54%, rgba(239,234,226,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,234,226,1) 54%, rgba(239,234,226,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(239,234,226,1) 54%, rgba(239,234,226,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efeae2', GradientType=0 );
}

header {
	position: relative;
	width: 100%;
	color: $black;
	background: $white;
	height: 300px;
	padding-top: 35px;
	border-bottom: 1px solid rgba(239,234,226,1);

	img.potato {
		display: block;
		margin: 0 auto 35px;
	}

	h1 {
		height: 45px;
		width: 100%;
		font-size: 32px;
		line-height: 42px;
		text-align: center;
		font-weight: 700;

		img {
			margin-left: 10px;
		}
	}

	p {
		text-align: center;
	}
}

/*-- Helpers --*/
.container {
	@include container;
	@include padding-large;
}


/*-- GUI --*/
a,
a:link,
a:visited {
	color: $light;
	text-decoration: none;
}

a:hover {
	color: $dark;
	text-decoration: underline;
}

footer {
	
	p {
		width: 100%;
		border-top: 1px solid $gray;
		margin-top: 50px;
		text-align: center;
		color: $gray;
		font-style: italic;
		padding: 30px 0;
		line-height: 18px;
	}

	span {
		display: block;
		margin: 10px auto 0;
		font-size: 12px;
		font-style: normal;
	}
}