.legend {
	font-size: 18px;
	font-style: italic;
	color: $gray;
	line-height: 42px;
	margin-top: 15px;
	@include susy-breakpoint(800px, 12){
		font-size: 32px;
		line-height: 90px;
	}
}

.item-row {
	@include span(12);
	padding: 20px 0;
	border-bottom: 1px solid rgba(210,210,210, 1);

	&:last-child {
		border-bottom: none;		
	}
}

.fk-images {
	@include span(2);
	height: 100px;
	overflow: hidden;

	img {
		display: block;
		width: 100%;
	}
}

a.title-link {
	@include span(7);
	display: block;
	font-size: 21px;
	font-weight: 700;
	color: $black;
	text-decoration: none;
	text-transform: capitalize;

	&:hover {
		text-decoration: underline;
	}
}

#g-wrap {
	width: 60px;
	overflow: hidden;
	float: right;
}

.flex-wrap {
	display: block;
	float: left;
	width: span(10);
	height: auto;
	@include susy-breakpoint(800px, 12){
		display: flex;
		height: 40px;
	}
}

.item-row p {
	order: initial;
	width: 100%;
	margin: 20px 0;
	@include susy-breakpoint(800px, 12){
		margin: 50px 0;
		order: 2;
		width: span(6);
	}
}

.author-link,
.flickr-link {
	@include susy-breakpoint(800px, 12){
		width: span(2);
		margin-top: 50px;
	}
}

.author-link {
	clear: left;
	order: initial;
	@include span(3);
	@include susy-breakpoint(800px, 12){
		order: 1;
	}
}

.flickr-link {
	margin-right: 0;
	order: initial;
	@include span(last 3);
	@include susy-breakpoint(800px, 12){
		order: 3;
		text-align: right;
	}
}