a.back-btn {
	width: 140px;
	float: right;
	height: 25px;
	line-height: 21px;
	color: $gray;
	text-align: right;
	margin: 20px 0;
	&:hover {
		color: $light;
		
		svg {
			fill: $light;
		}
	}

	svg {
		position: relative;
		display: inline-block;
		width: 20px;
		height: auto;
		float: left;
		fill: $gray;
	}
}

#singleImage {

	a.flickr-link {
		@include span(8);
		font-size: 18px;
		line-height: 38px;
		color: $black;
		margin-bottom: 10px;
		text-align: left;
		margin-top: 30px;
		/*-- little cheat for "iPhone 6 plus-like resolution" --*/
		@include susy-breakpoint(400px, 12){
			font-size: 21px;
		}
		/*-- little cheat for "iPhone 6 plus-like resolution" --*/
		@include susy-breakpoint(500px, 12){
			@include span(10);
			font-size: 32px;
		}
	}

	#g-wrap {
		width: 60px;
		overflow: hidden;
		float: right;
		margin-top: 40px;
	}

	a.author-link,
	.date {
		font-size: 11px;
	}

	a.author-link {
		position: relative;
		display: inline-block;
		clear: left;
		float: left;
		width: auto;
		margin: 0 20px 30px 0;

		&:after {
			content: '';
			position: absolute;
			right: -10px;
			width: 1px;
			height: 100%;
			background-color: $dark;
		}
	}

	p {
		position: relative;
		display: inline-block;
		float: left;
		clear: right;
	}

	.fk-images {
		width: span(12);
		height: auto;
		// clear: left;
		border-radius: 0;
		display: block;
		float: none;
		/*-- little cheat for "iPhone 6 plus-like resolution" --*/
		@include susy-breakpoint(400px, 12){
			width: span(6);
			clear: left;
			margin: 10px auto 20px;
		}
		/*-- little cheat for "iPhone 6 plus-like resolution" --*/
		@include susy-breakpoint(500px, 12){
			@include span(4);
			margin: 10px auto 0;
		}
	}

	.description,
	.tags {
		@include span(12);
		font-size: 16px;
		line-height: 28px;
		/*-- little cheat for "iPhone 6 plus-like resolution" --*/
		@include susy-breakpoint(500px, 12){
			@include span(last 8);
		}
	}

	.tags {
		color: $light;
		margin-top: 30px;
		span {
			color: $black;
		}
	}

	> .description::first-letter {
		text-transform: capitalize;
	}

}
