/*-- Colours used across the app --*/

/*Base colours*/
$white: rgba(255,255,255, 1);
$gray: rgba(200,200,200, 1);
$black: rgba(72,69,75, 1);

/*App colours*/
$light: rgba(200,138,77, 1);
$dark: rgba(149,103,57, 1);